<dx-data-grid
  #dataGridVar
  id="gridContainer"
  [columns]="columns"
  [allowColumnReordering]="true"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  [showBorders]="true"
  [rowAlternationEnabled]="true"
  [focusedRowEnabled]="true"
  [(focusedRowKey)]="focusedRowKey"
  keyExpr="regionName"
  >
  <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
  <!-- <dxi-column dataField="regionName" [groupIndex]="0" caption="地区"></dxi-column>
  <dxi-column caption="个人会员">
  <dxi-column caption="普通会员">
    <dxi-column caption="1个月"></dxi-column>
    <dxi-column caption="3个月"></dxi-column>
    <dxi-column caption="一年"></dxi-column>
  </dxi-column>
  <dxi-column caption="高级会员">
    <dxi-column caption="一年"></dxi-column>
  </dxi-column>
  </dxi-column>
  <dxi-column caption="家庭会员">
  <dxi-column caption="普通会员">
    <dxi-column caption="一年"></dxi-column>
  </dxi-column>
  <dxi-column caption="高级会员">
    <dxi-column caption="一年"></dxi-column>
  </dxi-column>
  </dxi-column>

  <dxi-column dataField="name" caption="套餐名称" ></dxi-column>
  <dxi-column dataField="range" caption="时长" ></dxi-column>
  <dxi-column caption="¥价格" [calculateCellValue]="getPriceDesc"   [width]="230"></dxi-column>
  <dxi-column dataField="formatted_value" caption="价格" [width]="230"></dxi-column> -->
  <div
    *dxTemplate="let d of 'diffCellTemplate'"
  >
    <div class="current-value">{{
      d.value
    }}</div>
    <div *ngIf="focusedRowKey==d.key">{{getsourceprice(d)}}</div>
  </div>
  <dxo-search-panel  [visible]="true"></dxo-search-panel>
  <dxo-group-panel *ngIf="false" [visible]="true"></dxo-group-panel>
  <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
</dx-data-grid>

