<dx-data-grid
  id="gridContainer"
  [dataSource]="employees"
  [allowColumnReordering]="true"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  [showBorders]="true"
>
  <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
  <dxi-column dataField="regionName" caption="地区"></dxi-column>
  <dxi-column dataField="name" caption="套餐名称" ></dxi-column>
  <dxi-column dataField="range" caption="时长" ></dxi-column>
  <dxi-column dataField="price" caption="价格" [width]="230"></dxi-column>

</dx-data-grid>
